* {margin:0;padding:0;box-sizing:border-box;font:inherit;color:inherit;flex-shrink:0;}

@font-face {
     font-family: 'DungGeunMo';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

.App {
  text-align: center;
}

.mainTitle {
  font-family: 'DungGeunMo';
  font-size: 32px;
}